/*
Nombre del Tema: Alphacity - Cya-sa.com en Bootstrap
Tema URL: http://alphacity.co;
Autor: Pino
Autor URL: http://alphacity.co/
Descripcion: Actualización de tema para la compañía Cya-sa
Licencia: GNU General Public License v2 or superiores
Licencia URL: http://www.gnu.org/licenses/gpl-2.0.html
Dominio de Texto: alphacity_cya
*/